
		<%= render('header') %>
		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>Twitter Quotes uses <%= link_to "forismatic", "https://forismatic.com/en/", style: "font-style:italic;", target: "_blank", rel: "noreferrer" %> to
					</br> post to your Twitter feed once per day.</h2>
				</header>
				<ul class="icons major">
					<li><span class="icon fa-quote-left"><span class="label">Shoot</span></span></li>
					<li><span class="icon fa-refresh"><span class="label">Process</span></span></li>
					<li><span class="icon fa-quote-right"><span class="label">Upload</span></span></li>
				</ul>
			</section>

		<!-- Two -->

			<section id="two" class="wrapper">
				<div class="inner alt">
					<section class="spotlight">
						<div class="image"><%= image_tag "Ajahn-Chah.jpeg" %></div>
						<div class="content">
							<h3>Ajahn Chah</h3>
							<p>If you let go a little, you will have a little peace. If you let go a lot, you will have a lot of peace.</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><%= image_tag "Walt_Disney_1946.JPG" %></div>
						<div class="content">
							<h3>Walt Disney</h3>
							<p>We've got to have a dream if we are going to make a dream come true.</p>
						</div>
					</section>
					<section class="spotlight">
						<div class="image"><%= image_tag "mlk.jpg" %></div>
						<div class="content">
							<h3>Martin Luther King</h3>
							<p>Our lives begin to end the day we become silent about things that matter.</p>
						</div>
					</section>
					<section class="special">
						<ul class="icons labeled">
							<li><span class="icon fa-quote-left"><span class="icon fa-quote-right"><span class="label">Famous Quotes</span></span></span></li>
							<li><span class="icon fa-refresh"><span class="label">Automatic</span></span></li>
							<li><span class="icon fa-calendar-check-o"><span class="label">Daily</span></span></li>
						</ul>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2 special">
				<header class="major">
					<h2>Give Twitter Quotes a try!</h2>
					<p>Twitter Quotes is a great way to learn from important figures throughout time. </br>It's also a great way to share!</p>
				</header>
        <ul class="actions">
          <% if current_user %>
            <li><%= link_to "Un-Subscribe", unsubscribe_user_path(current_user.id), :method => :put, :class => "button special icon fa-ban" %></li>
          <% else %>
            <li><%= link_to "Subscribe", "/auth/twitter", class: "button special icon fa-user-plus" %></li>
          <% end %>
          <li><%= link_to "Learn More", "#one", class: "button icon fa-chevron-down scrolly" %></li>
        </ul>
			</section>

			<%= render('footer') %>
